In [168]:
import pandas as pd
import numpy as np

In [387]:
train = pd.read_csv('G:/ml/loan_prediction/train.csv')
test = pd.read_csv('G:/ml/loan_prediction/test.csv')

In [388]:
len(train[train['Loan_Status']== 'Y'])

422

In [389]:
train['Loan_Status']=train['Loan_Status'].apply(lambda x: 1 if x =='Y' else 0)

In [390]:
print(100*np.mean(train['Loan_Status'][train['Gender'] =='Male']))
print(100*np.mean(train['Loan_Status'][train['Gender'] =='Female']))

69.3251533742
66.9642857143

In [391]:
print(100*np.mean(train['Loan_Status'][train['Married'] =='Yes']))
print(100*np.mean(train['Loan_Status'][train['Married'] =='No']))

71.608040201
62.9107981221

In [392]:
print(100*np.mean(train['Loan_Status'][train['Education'] =='Graduate']))
print(100*np.mean(train['Loan_Status'][train['Education'] =='Not Graduate']))

70.8333333333
61.1940298507

In [393]:
print(100*np.mean(train['Loan_Status'][train['Self_Employed'] =='Yes']))
print(100*np.mean(train['Loan_Status'][train['Self_Employed'] =='No']))

68.2926829268
68.6

In [394]:
print(100*np.mean(train['Loan_Status'][train['Property_Area'] =='Urban']))
print(100*np.mean(train['Loan_Status'][train['Property_Area'] =='Rural']))
print(100*np.mean(train['Loan_Status'][train['Property_Area'] =='Semiurban']))

65.8415841584
61.4525139665
76.8240343348

In [395]:
print(pd.isnull(test).sum())

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [396]:
train['Gender']=train['Gender'].apply(lambda x: 1 if x =='Male' else 0)
train['Married']=train['Married'].apply(lambda x: 1 if x =='Yes' else 0)
train['Education']=train['Education'].apply(lambda x: 1 if x =='Graduate' else 0)
train['Self_Employed']=train['Self_Employed'].apply(lambda x: 1 if x =='Yes' else 0)
train['Property_Area']=train['Property_Area'].apply(lambda x: 1 if x =='Semiurban' else 0)
test['Gender']=test['Gender'].apply(lambda x: 1 if x =='Male' else 0)
test['Married']=test['Married'].apply(lambda x: 1 if x =='Yes' else 0)
test['Education']=test['Education'].apply(lambda x: 1 if x =='Graduate' else 0)
test['Self_Employed']=test['Self_Employed'].apply(lambda x: 1 if x =='Yes' else 0)
test['Property_Area']=test['Property_Area'].apply(lambda x: 1 if x =='Semiurban' else 0)

In [397]:

from sklearn.preprocessing import LabelEncoder
var_mod= ['Dependents']
le = LabelEncoder()
train['Dependents'] =le.fit_transform(train['Dependents'])
test['Dependents'] =le.fit_transform(test['Dependents'])

In [398]:
Z=test.drop(['Loan_ID'],axis=1)
M = test['Loan_ID']

In [399]:
train['Gender']=train['Gender'].fillna(np.mean(train['Gender']))
train['Married']=train['Married'].fillna(np.mean(train['Married']))
train['Dependents']=train['Dependents'].fillna(np.mean(train['Dependents']))
train['Self_Employed']=train['Self_Employed'].fillna(np.mean(train['Self_Employed']))
train['LoanAmount']=train['LoanAmount'].fillna(np.mean(train['LoanAmount']))
train['Loan_Amount_Term']=train['Loan_Amount_Term'].fillna(np.mean(train['Loan_Amount_Term']))
train['Credit_History']=train['Credit_History'].fillna(np.mean(train['Credit_History']))
train =train[['Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area','Loan_Status']]
test =test[['Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area']]

In [400]:
test['Dependents']=test['Dependents'].fillna(np.mean(test['Dependents']))
test['LoanAmount']=test['LoanAmount'].fillna(np.mean(test['LoanAmount']))
test['Loan_Amount_Term']=test['Loan_Amount_Term'].fillna(np.mean(test['Loan_Amount_Term']))
test['Credit_History']=test['Credit_History'].fillna(np.mean(test['Credit_History']))

In [401]:

X = train.drop(['Loan_Status'],axis =1)

y = train['Loan_Status']
train.describe()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
count,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000
mean,0.796417,0.648208,15.548860,0.781759,0.133550,5403.459283,1621.245798,146.412162,342.000000,0.842199,0.379479,0.687296
std,0.402991,0.477919,1.815303,0.413389,0.340446,6109.041673,2926.248369,84.037468,64.372489,0.349681,0.485653,0.463973
min,0.000000,0.000000,0.000000,0.000000,0.000000,150.000000,0.000000,9.000000,12.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,15.000000,1.000000,0.000000,2877.500000,0.000000,100.250000,360.000000,1.000000,0.000000,0.000000
50%,1.000000,1.000000,15.000000,1.000000,0.000000,3812.500000,1188.500000,129.000000,360.000000,1.000000,0.000000,1.000000
75%,1.000000,1.000000,16.000000,1.000000,0.000000,5795.000000,2297.250000,164.750000,360.000000,1.000000,1.000000,1.000000
max,1.000000,1.000000,18.000000,1.000000,1.000000,81000.000000,41667.000000,700.000000,480.000000,1.000000,1.000000,1.000000

In [402]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state =42, test_size =0.3)
print(X_test.head())

     Gender  Married  Dependents  Education  Self_Employed  ApplicantIncome  \
350       1        1          15          1              0             9083
377       1        1          15          1              0             4310
163       1        1          17          1              0             4167
609       0        0          15          1              0             2900
132       1        0          15          1              0             2718

     CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
350                0.0       228.0             360.0        1.000000
377                0.0       130.0             360.0        0.842199
163             1447.0       158.0             360.0        1.000000
609                0.0        71.0             360.0        1.000000
132                0.0        70.0             360.0        1.000000

     Property_Area
350              1
377              1
163              0
609              0
132              1

In [408]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators =100,max_depth =5)
clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=5, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [409]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_train,clf.predict(X_train)))
print(accuracy_score(y_test,clf.predict(X_test)))

0.8275058275058275
0.7837837837837838

In [410]:
pred = clf.predict(test)
print(pred)

[1 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 0 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 0 1 1 1 1 0 1 1 0 0 1 0 1 1 1 1
 1 1 1 1 1 1 0 1 0 1 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1
 1 1 1 1 1 1 0 0 0 1 1 1 0 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 0
 1 1 1 1 1 0 1 1 1 1 1 1 1 0 1 1 1 0 0 1 0 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 0 0 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1
 0 1 0 1 1 1 1 0 1 1 1 1 1 0 0 1 1 0 1 0 1 0 1 0 1 1 1 1 0 1 1 1 1 0 1 1 1
 1 1 1 1 1 1 1 0 1 0 1 1 1 1 0 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1
 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1
 1 1 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1]

In [412]:
submission1 = pd.DataFrame({'Loan_ID': M,'Loan_Status': pred})
submission1.to_csv('G:/ml/loan_prediction/submission1.csv')